<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>COVID-19 UK Vaccination Tracker</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="/img/favicon.png" type="image/png" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZPMDLCQ36"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-SZPMDLCQ36');
        </script>
    </head>
    <body>
        <main>
            <h1>COVID-19 Vaccinations Administered in the UK</h1>
            <span id="vaccine-count">$vaccinationsFormatted</span><br />
            <span id="vaccine-diff">($vaccinationsDiffFormatted)</span>
        </main>
        <footer>
          Figures as released by the UK government up to the $dataFromDateFormatted (figures released daily). Difference amounts shown are the amount changed in vaccinations between data released on the $dataFromDateMinus1Formatted and on the $dataFromDateFormatted. Note: this data includes total vaccinations, not people vaccinated. $firstDoseFormatted ($firstDoseDiffFormatted) people have been given their first dose, and $secondDoseFormatted ($secondDoseDiffFormatted) their second dose.<p />
          <strong>last updated $lastCheckFormatted</strong>
        </footer>
        <script src="js/script.js"></script>
    </body>
</html>